$color: #00cc99;
@import "/web-layout-training-gulp-master/app/assets/src/input.css";

.header {
  height: 200px;
  background-color: #00cc99;
}

.footer {
  height: 200px;
  background-color: #adf3e1;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rgb(15, 6, 6);
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
